<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!--  parameter name="test-name" value="Test One"/>  -->
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.application.tests.BaseClassTest"/>
      <class name="com.application.tests.HomePageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
